############################################################################################
# 조교님께 물어볼 내용

1. start-end 맞추는 순서 (가장 먼저, 혹은 가장 나중 ?) && 파이썬 코드로 맞추는 방법?
2. 1분 자르기 하는 순서 (가장 먼저, 혹은 가장 나중 ?) && 파이썬 코드로 자르는 방법? -> 내 코드 질문하기 (마지막 셀)
3. 텍스트 파일에서 start-end, 1분 자르기 조절하는 경우, 텍스트 한번에 위까지 설정하는 방법?
4. 텍스트 파일에서 start는 잘랐는데, end는 엑셀파일에 표시된 지점 전까지만 데이터 파일에 저장되어 있다
5. 조교님이 첨부해주신 링크의 liborsa는 오디오 파일이어서 적용하려고 해보았지만 잘 되지 않았다.
6. 최종 DataFrame을 생성했는데, 이때 생기는 null값은 어떻게 대체할 것인가?

#############################################################################################

# 1. start-end 맞추기
# 2. 표준화 StandardScaler 
# 3. 128 HZ로
# 4. DataFrame 만들기 (행: 인덱스, 열: user id, video id, 시간 구간)

-------------------------------------------------------------------------
# 5. 1분 자르기



나: 지영누나, 유진누나 동생 데이터

sampling 관련블로그:
https://kaen2891.tistory.com/38

https://librosa.org/doc/latest/generated/librosa.resample.html?highlight=resample

#0805
양성민, 김도현, 오지영

#0811
조건욱

#0812
정동훈

#0813
백유진, 백민하, 이호영

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
li = ['a', 'b', 'c']
L = []
for name in li:
  globals()[name] = [x for x in range(3)]
  L.append(globals()[name])

type(L[0])

list

#1. start-end 맞추고 파일 불러오기

In [ ]:
videos = ['Moana', 'Up', 'Earth', 'Coco', 'Insideout', 'Little Prince', 'Good Dino', 'Pono', 'Aladdin', 'Frozen', 'Elbin Superband', 'Minians', 'Lionking', 'Bighero', 'Harrypotter', 'zootopia']
partial_videos = ['Moana', 'Up', 'Earth', 'Coco', 'Insideout', 'Little Prince', 'Good Dino', 'Pono', 'Aladdin', 'Frozen', 'Elbin Superband', 'Minians', 'Lionking', 'Bighero', 'Harrypotter']

In [ ]:
tmp = np.array(pd.read_csv('/content/gdrive/My Drive/[인텔리전스]과학관프로젝트/_성민/preprossed_start-end /UserID_3/{}.TXT'.format(videos[-4]), sep='\t', error_bad_lines=False).iloc[:, 0])

print('Minians')
print()
print(pd.DataFrame(sample(tmp, 100, 128)))

Minians

                0
0      476.306626
1      537.286665
2      446.861563
3      480.609458
4      462.196883
...           ...
11012  457.582233
11013  444.372947
11014  432.996996
11015  530.580541
11016    0.000000

[11017 rows x 1 columns]

In [ ]:
user_3_list = []

for video in partial_videos:
  tmp = pd.read_csv('/content/gdrive/My Drive/[인텔리전스]과학관프로젝트/_성민/preprossed_start-end /UserID_3/{}.TXT'.format(video), sep='\t', error_bad_lines=False)
  user_3_list.append(tmp)
  print(tmp.iloc[:, 0].shape)
  print()


# print(user_3_list[0])

(7913,)

(8504,)

(6208,)

(8272,)

(7792,)

(8075,)

(8798,)

(4485,)

(7325,)

(5255,)

(7789,)

(9149,)

(8607,)

(8786,)

(9080,)

b'Skipping line 5255: expected 2 fields, saw 3\n'

In [ ]:
tmp = []

for video in user_3_list:
  video[video.columns[1]] = pd.to_datetime(video[video.columns[1]])
  video = video.rename(columns = {video.columns[0]: 'Value', video.columns[1]: 'Time'})
  tmp.append(video)

user_3_list = tmp

user_3_list[0]

           Value                    Time
0     456.783905 2020-08-26 16:48:56.070
1     469.877808 2020-08-26 16:48:56.180
2     493.047333 2020-08-26 16:48:56.230
3     484.447662 2020-08-26 16:48:56.490
4     520.239380 2020-08-26 16:48:56.540
...          ...                     ...
7908  505.510620 2020-08-26 16:50:15.870
7909  547.590393 2020-08-26 16:50:15.920
7910  522.686890 2020-08-26 16:50:15.103
7911  500.701050 2020-08-26 16:50:15.118
7912  477.279236 2020-08-26 16:50:15.123

[7913 rows x 2 columns]

# 2. 표준화 StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

stand_videos = []

stand = StandardScaler()

for video in user_3_list:
  video_stand = video.copy()
  video_stand[['Value']] = stand.fit_transform(video_stand[['Value']])
  stand_videos.append(video_stand)
  
user_3_list = stand_videos
user_3_list[0]

         Value                    Time
0    -0.763406 2020-08-26 16:48:56.070
1    -0.368476 2020-08-26 16:48:56.180
2     0.330349 2020-08-26 16:48:56.230
3     0.070971 2020-08-26 16:48:56.490
4     1.150498 2020-08-26 16:48:56.540
...        ...                     ...
7908  0.706259 2020-08-26 16:50:15.870
7909  1.975442 2020-08-26 16:50:15.920
7910  1.224319 2020-08-26 16:50:15.103
7911  0.561195 2020-08-26 16:50:15.118
7912 -0.145239 2020-08-26 16:50:15.123

[7913 rows x 2 columns]

# 3. 128 HZ로

In [ ]:
# 128Hz의 주기 계산

1 / 128

0.0078125

In [ ]:
resampled_videos = []

for video in user_3_list:
  value = list(video['Value'])
  time = list(video['Time'])
  ts = pd.DataFrame(value, index = time, columns = ['Value'])
  data_ts = ts.resample('7.8125ms').mean().interpolate()
  resampled_videos.append(data_ts)

resampled_videos[0]

                                  Value
2020-08-26 16:48:56.062500000 -0.763406
2020-08-26 16:48:56.070312500 -0.668886
2020-08-26 16:48:56.078125000 -0.574367
2020-08-26 16:48:56.085937500 -0.479847
2020-08-26 16:48:56.093750000 -0.385327
...                                 ...
2020-08-26 16:50:15.882812500  1.129320
2020-08-26 16:50:15.890625000  1.340851
2020-08-26 16:50:15.898437500  1.552381
2020-08-26 16:50:15.906250000  1.763912
2020-08-26 16:50:15.914062500  1.975442

[10222 rows x 1 columns]

In [ ]:
tmp = user_3_list[0].drop('Time', axis=1)

tmp

         Value
0    -0.763406
1    -0.368476
2     0.330349
3     0.070971
4     1.150498
...        ...
7908  0.706259
7909  1.975442
7910  1.224319
7911  0.561195
7912 -0.145239

[7913 rows x 1 columns]

In [ ]:
tmp

         Value
0    -0.763406
1    -0.368476
2     0.330349
3     0.070971
4     1.150498
...        ...
7908  0.706259
7909  1.975442
7910  1.224319
7911  0.561195
7912 -0.145239

[7913 rows x 1 columns]

In [ ]:
chk

array([-0.7634058 , -0.36847574,  0.33034888, ...,  1.22431854,
        0.56119548, -0.14523853])

In [ ]:
arr

array([[-0.7634058 ],
       [-0.36847574],
       [ 0.33034888],
       ...,
       [ 1.22431854],
       [ 0.56119548],
       [-0.14523853]])

In [ ]:
chk = arr.reshape(7913,)
print(chk.shape)
print(arr.shape)

(7913,)
(7913, 1)

In [ ]:
import librosa
import numpy as np

# arr = np.array(tmp)

def sample(data, original_freq, target_freq):
    resample = librosa.resample(data, original_freq, target_freq)
    return resample

pd.DataFrame(sample(chk, 100, 128))

              0
0     -0.839488
1     -0.588547
2      0.290927
3      0.060467
4      0.269229
...         ...
10124  1.961910
10125  1.133582
10126  0.463499
10127  0.141801
10128  0.000000

[10129 rows x 1 columns]

#4. DataFrame 만들기

In [ ]:
timeline_no = list(range(len(resampled_videos[0])))

df = pd.DataFrame(list(resampled_videos[0]['Value']), index = timeline_no).transpose().add_prefix('No.')
df['user_ID'] = 3
df['Video_ID'] = 1

cols = df.columns.tolist()
cols = cols[-2:] + cols[:-2]
df = df[cols]

for i in range(2, len(resampled_videos)):
  tmp = list(range(len(resampled_videos[i])))
  df_tmp = pd.DataFrame(list(resampled_videos[i]['Value']), index = tmp).transpose().add_prefix('No.')
  df_tmp['user_ID'] = 3
  df_tmp['Video_ID'] = i

  cols = df_tmp.columns.tolist()
  cols = cols[-2:] + cols[:-2]
  df_tmp = df_tmp[cols]
  
  df = df.append(df_tmp)

df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df

    user_ID  Video_ID      No.0  ...  No.11759  No.11760  No.11761
0         3         1 -0.763406  ...       NaN       NaN       NaN
1         3         2  0.424797  ...       NaN       NaN       NaN
2         3         3  0.287376  ...       NaN       NaN       NaN
3         3         4 -0.166999  ...       NaN       NaN       NaN
4         3         5 -0.851326  ...       NaN       NaN       NaN
5         3         6  0.216193  ...       NaN       NaN       NaN
6         3         7 -0.254086  ...       NaN       NaN       NaN
7         3         8  0.762039  ...       NaN       NaN       NaN
8         3         9 -0.950539  ...       NaN       NaN       NaN
9         3        10  1.432578  ...       NaN       NaN       NaN
10        3        11  2.918054  ...  0.836798  0.761453  0.686108
11        3        12 -1.376758  ...       NaN       NaN       NaN
12        3        13  1.230341  ...       NaN       NaN       NaN
13        3        14 -1.201099  ...       NaN       NaN       NaN

[14 rows x 11764 columns]

#5. 1분 자르기

In [ ]:
for i in range(len(resampled_videos)):
  x = resampled_videos[i]
  dummies = []
  for j in range(len(x)):
    if (x.index[j] - x.index[0]).seconds == 60:
      if (x.index[j] - x.index[0]).microseconds != 0:
        dummies.append(x.index[j])
    elif (x.index[j] - x.index[0]).seconds > 60:
      dummies.append(x.index[j])
    
    resampled_videos[i].drop(dummies, axis=0, inplace=True)

KeyError: ignored

In [ ]:
###############################################################################################################
# load start-end file


from google.colab import drive
import os

drive.mount('/content/gdrive/')
os.chdir('/content/gdrive/My Drive/[인텔리전스]과학관프로젝트/_성민/preprossed_start-end/')

dir = os.listdir('./')
file_list = os.listdir('./{}'.format(dir[0]))
file_list

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

['Frozen.TXT',
 'Up.TXT',
 'Aladdin.TXT',
 'Bighero.TXT',
 'Coco.TXT',
 'Earth.TXT',
 'Elbin Superband.TXT',
 'Good Dino.TXT',
 'Harrypotter.TXT',
 'Insideout.TXT',
 'Lionking.TXT',
 'Little Prince.TXT',
 'Minians.TXT',
 'Moana.TXT',
 'Pono.TXT']

In [ ]:
###############################################################################################################
# load start-end file


from google.colab import drive
import os

drive.mount('/content/gdrive/')
os.chdir('/content/gdrive/My Drive/[인텔리전스]과학관프로젝트/_성민/preprossed_start-end/')

dir = os.listdir('./')

user_name = []
for i in range(len(dir)):
  user_name.append(input("실험자 변수이름지정:"))

names = []
for name in user_name:
  globals()[name] = []
  names.append(globals()[name])

i = 0
for files in dir:
  file_list = os.listdir('./{}'.format(files))
  for file in file_list:
    tmp = pd.read_csv('/content/gdrive/My Drive/[인텔리전스]과학관프로젝트/_성민/preprossed_start-end/{}/{}'.format(files, file), sep='\t', error_bad_lines=False)
    names[i].append(tmp)
  
  i += 1

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).
실험자 변수이름지정:UserID_3
실험자 변수이름지정:UserID_7
실험자 변수이름지정:UserID_8

b'Skipping line 5255: expected 2 fields, saw 3\n'

In [ ]:
from sklearn.preprocessing import StandardScaler

stand = StandardScaler()

i = 0
for user in names:
  stand_videos = []
  for video in user:
    video_stand = video.copy()
    video_stand[[video.columns[0]]] = stand.fit_transform(video_stand[[video.columns[0]]])
    stand_videos.append(video_stand)
  names[i] = stand_videos

  i = i+1

In [ ]:
names[0][0]

      437.592987   16:23:04.14
0       0.961158   16:23:04.29
1       0.117151   16:23:04.34
2       0.795623   16:23:04.29
3      -0.129706   16:23:04.45
4      -0.616656   16:23:04.50
...          ...           ...
5250   -1.529753  16:23:56.518
5251   -1.102631  16:23:56.533
5252   -0.727189  16:23:56.538
5253    0.139950  16:23:56.565
5254    0.254857  16:23:56.570

[5255 rows x 2 columns]

In [ ]:
import numpy as np

i = 0
j = 0
for user in names:
  j = 0
  for video in user:
    video = video.drop(video.columns[1], axis=1)
    video = np.array(video).reshape(video.shape[0],)
    names[i][j] = video
    j += 1
  
  i += 1

names[0][0]

array([ 0.96115799,  0.11715117,  0.79562314, ..., -0.7271893 ,
        0.13994977,  0.25485686])

# 다음주 과제 순서)  start end , resample, standardization, make dataframe,  analyze(arousal, valence와도 비교해서, 사람 각각에 비교)- 특징 2개 이상 찾아오기 
(도현이 형이랑 user_ID 나눠서; 각 4개씩 (유진, 호영만 나누면 됨)